
<div class="searchOptionsContainer">
    <div class="searchFieldContainer">
        <div>Page Size</div>
        <input type="text" (change)="setPageSizeAndRefresh($event.target.value)" [value]="pageSize">
    </div>
    <div class="searchFieldContainer">
        <div>Page</div>
        <div class="pageOptionsContainer">
            <button (click)="pageDown()">Page Down</button>
            <div>{{page}}</div>
            <button (click)="pageUp()">Page Up</button>
        </div>
    </div>
    <div class="searchFieldContainer">
        <div>Search</div>
        <input type="text" (change)="setTitle($event.target.value)" [value]="title">
        <button (click)="refreshData()">Search</button>
    </div>
</div>